.headerContainer {
    display: flex;
    justify-content: space-around;
    align-items: center;
    gap: 30px;
    border-bottom: 1px solid #eeeeee;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
.logoArea{
    display : flex;
   justify-content: start;
   gap: 10px;
   align-items: center;
}

.ListContainer{
    background-color: #fcfafa;
    border: 1px solid  #e7e7e7;
    border-radius: 10px;
    position: absolute;
    right: 50px;
    overflow: hidden;
    transition: .10s;
    padding: 10px;
    top: 50px;
}
.searchIcon{
    position:absolute;
    top: 13px;
    right: 0px;
}
